.card {
  border: 3px solid black;
  border-radius: 12px;
  padding: 24px;
  display: block;
  background-color: #fafafa;
  min-width: 120px;
}

.bigCard {
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
  min-width: 400px;
}
